* {
	margin: 0;
	padding: 0;
}

.homepage__container {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.homepage__card {
	width: 50vw;
	height: 50vh;
}

.homepage__card--t1 {
	color: #fff;
	opacity: 0.8;
	text-align: center;
}

.homepage__card--t2 {
	color: #fff;
	text-align: center;
}

.homepage__card--options {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.homepage__card--option1, .homepage__card--option2 {
	flex: 0.4;
	height: 30vh;
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.2s ease-out;
	transition: all 0.2s ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.homepage__card--message{
	margin-top: -10px;
	color: #fff;
}

.homepage__card--icon{
	transform: scale(0.5);
}


.homepage__card--option1:hover, .homepage__card--option2:hover{
	transform: scale(1.05);
}